body {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #212121;
    color: white;
    min-height: 100%;
}

body:last-child {
    margin-bottom: 3%;
}

.navbar {
    position: fixed;
    left: 0px;
    width: 260px;
    min-height: 100%;
    background-color: #212121;
    text-align: center;
    transition: 0.800s ease;
    border-right: 4px solid whitesmoke;
}

.navbar > .side-nav {
    list-style-type: 0;
    padding: 0%;
    margin: 0%;
}

.nav-item {
    display: flex;
}

.container {
    min-height:100%;
}

.nav-item > .nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    padding: 1em;
    flex: 1;
}

.maincontent {
    margin-left: 260px;
    margin-top:0;
}

.page {
    display: none;
}

.content {
    text-align: justify;
    margin: auto;
    padding: 5px;
    max-width:1200px;
    font-size: 1.3em;
    min-height:100%;
    margin-bottom: 2%;
}

h1 {
    margin: 0;
    padding: 2%;
    text-align: center;
    border: 2px solid black;
    background-color: whitesmoke;
    color:#212121;
}

h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    background-color: whitesmoke;
    color:#212121;
    font-size: 1.8em;
}

i {
    color:#BDBDBD;
}

.image-title {
    text-align: center;
    font-size: 90%;
    margin-bottom: 1%;
    margin-top: 1%;
}

img {
    display: block;
    margin: auto;
    margin-top: 2%;
}

#datacenter {
    height: 480px;
    width: 950px;
}

#logo {
    height: 480px;
}

a {
    color: whitesmoke;
}